body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-250 {
    height: 250px;
  }
}
